<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>We are an DTX team</h1>
    <p>
        {{ my_name }}, {{ my_age }}, {{ my_hobby }}, {{ my_fav_food }}
    </p>
    <p>
        <ul>
        {% for abc in my_list %}
          {% if abc == 312 %}
            <!-- If abc is 312, add 22 and show the result -->
            <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
          {% else %}
            <!-- Otherwise, just show abc as-is -->
            <li>{{ forloop.counter }} - {{ abc }}</li>
          {% endif %}
        {% endfor %}
</ul>
    </p>
</body>
</html>