<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% include 'index.html' %}
    <!-- This include is used to import content from index.html file as a component to avoid redundancy. -->
    <form action="" method="post">
        <label for="">Names</label>
        <input type="text" name="names" id="">
        <label for="">Phonenumber</label>
        <input type="text" name="phonenumber" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>